@charset "UTF-8";
/* line 8, ../../scss/library/MultiPicker.scss */
* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

/* line 14, ../../scss/library/MultiPicker.scss */
.multi-picker-locked {
  height: 100% !important;
  overflow: hidden !important;
}

/* line 19, ../../scss/library/MultiPicker.scss */
.multi-picker-bg-delay {
  z-index: 999 !important;
}

/* line 23, ../../scss/library/MultiPicker.scss */
.multi-picker-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(75, 75, 75, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

/* line 35, ../../scss/library/MultiPicker.scss */
.multi-picker-bg-up {
  z-index: 999 !important;
  background: rgba(75, 75, 75, 0.65) !important;
}

/* line 40, ../../scss/library/MultiPicker.scss */
.multi-picker-container {
  width: 100%;
  height: 12.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  z-index: -1;
}

/* line 58, ../../scss/library/MultiPicker.scss */
.multi-picker-btn-box {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  z-index: 10;
}
/* line 67, ../../scss/library/MultiPicker.scss */
.multi-picker-btn-box .multi-picker-btn {
  position: absolute;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  right: 0;
}
/* line 74, ../../scss/library/MultiPicker.scss */
.multi-picker-btn-box .multi-picker-btn:nth-child(1) {
  left: 0;
  right: initial;
}

/* line 80, ../../scss/library/MultiPicker.scss */
.multi-picker-content {
  position: absolute;
  width: 100%;
  background: #fff;
  font-size: 0;
  top: 2.4rem;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
}
/* line 91, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker {
  display: inline-block;
  height: 10rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
  transition: width .3s ease;
  vertical-align: top;
  top: 0;
}
/* line 102, ../../scss/library/MultiPicker.scss */
.multi-picker-content ul::-webkit-scrollbar {
  display: none;
}
/* line 106, ../../scss/library/MultiPicker.scss */
.multi-picker-content li {
  height: 2rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2rem;
  list-style: none;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 118, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker-up-shadow, .multi-picker-content .multi-picker-down-shadow {
  position: absolute;
  width: 100%;
  height: 4rem;
  pointer-events: none;
}
/* line 125, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker-up-shadow {
  top: 0;
  background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
  z-index: 50;
}
/* line 130, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker-down-shadow {
  bottom: -10rem;
  z-index: 50;
  background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
}
/* line 136, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker-line {
  width: 95%;
  height: 2rem;
  position: absolute;
  top: 4rem;
  left: 50%;
  pointer-events: none;
  box-sizing: border-box;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
}

/* 自定义的样式 */
/* line 153, ../../scss/library/MultiPicker.scss */
.multi-picker-wrapper {
  position: absolute;
  height: 21rem;
  top: 50%;
  left: 50%;
  width: 84.375%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateY(-50%, -50%);
}
/* line 161, ../../scss/library/MultiPicker.scss */
.multi-picker-wrapper .multi-picker-btn.close {
  position: absolute;
  margin: 15px 0 0 15px;
  width: 24px;
  height: 24px;
  background: url("/bzr/static/images/icon/close-icon@2x.png") center center/100% auto no-repeat;
}
/* line 168, ../../scss/library/MultiPicker.scss */
.multi-picker-wrapper .multi-picker-btn.confirm {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: #FF6C6B;
  border-top: 1px solid #ddd;
}

/* line 179, ../../scss/library/MultiPicker.scss */
.multi-picker-container {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 6px;
}
/* line 185, ../../scss/library/MultiPicker.scss */
.multi-picker-container .multi-picker-content {
  top: 3rem;
}
/* line 188, ../../scss/library/MultiPicker.scss */
.multi-picker-container .multi-picker-content .multi-picker {
  height: 170px;
}
/* line 191, ../../scss/library/MultiPicker.scss */
.multi-picker-container .multi-picker-content li {
  height: 34px;
  font-size: 18px;
  color: #282828;
  line-height: 34px;
}
/* line 197, ../../scss/library/MultiPicker.scss */
.multi-picker-container .multi-picker-content .multi-picker-down-shadow {
  bottom: 0;
}

/* line 201, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker-up-shadow, .multi-picker-content .multi-picker-down-shadow {
  height: 68px;
}

/* line 204, ../../scss/library/MultiPicker.scss */
.multi-picker-content .multi-picker-line {
  top: 68px;
  height: 34px;
}
