<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <link href="/bzr/static/images/favicon_32.ico" mce_href="/static/mobile_site/images/favicon_32.ico" rel="bookmark" type="image/x-icon" />
        <link href="/bzr/static/images/favicon_32.ico" mce_href="/static/mobile_site/images/favicon_32.ico" rel="icon" type="image/x-icon" />
        <link href="/bzr/static/images/favicon_32.ico" mce_href="/static/mobile_site/images/favicon_32.ico" rel="shortcut icon" type="image/x-icon" />
    <title>管家</title>
    {% css "common" %}
    {% block css %}{% endblock %}
</head>

<body>
    {% block nav %} {% endblock %}
    {% block main %} {% endblock %}
    {% block footer %} {% endblock %}
    
    {% js "library/jquery/jquery.min" %}

    {% block js %}{% endblock %}
</body>

</html>
